.app-select {
  float: none;
}
.app-fitbit {
  background: left / cover no-repeat url(/images/fitbit_stats.png);
  max-width: 1275px;
  height: 100%;
}
.app-recent {
  background: left / cover no-repeat url(/images/dashboard_stats.png);
  max-width: 1275px;
  height: 100%;
}
