/* Dark Blue: #4b5f7a */
/* Sea Green: #33cc99 */
/* Gray: #c1c9d6 */

html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif; */
  font-size: 1rem;
  line-height: 1.5;
  background: url("/images/medchainBackground.png");
  /* font-family: 'Montserrat'; */

}

header {
  padding: 10px;
  background-color: #fff;
}

button:disabled {
  opacity: 0.5;
}

.button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.button.active {
  background-color: #33cc99;
  color: white;
}

.framed-window {
  margin: 2% auto;
  width: 95%;
  background-color: #fff;
  padding: 10px;
}
.content{
  display:flex;
  padding: 80px;
}
.Patient{
  position: relative;
  max-width: 25%;
  background: #FFFFFF;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.0458277);
  border-radius: 3px;
  display:flex;
  flex-direction: column;
  height: 509px;
  align-items: center;
  justify-content: center;
}
@media screen and ( min-width: 1500px ) {
  .Patient{
    max-width: 343px;
    right: -130px;
  }

}
.p-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.p-name{
  text-align: center;
  vertical-align: middle;
  position: relative;
  top:50px;
  font-family: 'Montserrat';
  color:#4B5F7A;

}
.p-snapshot{
  position: relative;
  top: 75px;
  width: 50%;
  height:50px;
  border-top: 1px solid #E6E8EB;
  border-bottom: 1px solid #E6E8EB;
  text-align: center;
  padding: 10px;
  font-family: 'Montserrat';
  color:#4B5F7A;
  display:inline-block;
}
.p-snapshotRight{
  position: relative;
  top: 75px;
  right:0%;
  width: 50%;
  height:50px;
  border-top: 1px solid #E6E8EB;
  border-bottom: 1px solid #E6E8EB;
  text-align: center;
  padding: 10px;
  border-left:1px solid #E6E8EB;
  font-family: 'Montserrat';
  color:#4B5F7A;
  display: inline-block;
}

.email{
  width:100%;
  position: relative;
  top: 63px;
  text-align: center;
  padding: 18px;
  font-family: 'Montserrat';
  color:#4B5F7A;
}
.reminder-header{
  padding-left:40px;
  padding-top:20px;
  color:white;
  letter-spacing: 1.6px;
  font-size: 11px;
}
.reminder{
  padding-left:40px;
  padding-top:20px;
  color:white;
  font-style: italic;
  padding-bottom: 23px;
}
.ss{
  display: inline-block;
}
.bottom-patient{
  position: relative;
  margin-top:auto;
  background: #33CC99;
  border-radius: 0px 0px 3px 3px;

}
.scheduled{
position: relative;
height:48px;
width:142px;
left:50px;

background: #33CC99;
border: 1px solid #1DBA86;
box-sizing: border-box;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.126104);
border-radius: 3px;
}
.s-block{
  position: relative;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  top:66px;
  left:-91px;
}
.s-block>*{
  /* flex: 1 1 80px; */
  max-width:170px
}
row1{
/* position: relative;
left: 0%;
right: 2.92%;
top: 0%;
bottom: 68%; */
box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.0458277);
border-radius: 3px 3px 0px 0px;
}
.apt {
	position: relative;
/* left: 0%;
right: 83.47%;
top: 0%;
bottom: 0%; */

	border-radius: 3px 0 0 0;
	background-color: #4B5F7A;
	box-shadow: 0 3px 5px 0 rgba(0,0,0,0.05);
}
.row2{
  /* position: relative; */
  /* left: 0%;
  right: 2.92%;
  top: 33%;
  bottom: 35%; */


  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.0458277);
  border-radius: 3px 3px 0px 0px;
  }
.row3{
    position: relative;
    /* left: 0%;
    right: 2.92%;
    top: 66%;
    bottom: 0%; */


    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.0458277);
    border-radius: 3px 3px 0px 0px;
    } */
.avi{
  position: relative;
  top:40px;
}

.s-text{
  text-align: center;
  padding-top: 12px;
  color:white;
}
.apt-text{
  padding-top:30px;
 /* font-size: 20px; */
 color: #FFFFFF;
 /* font-size: 2.5vw; */
}
.apt-location{
  font-size: 13px;
  opacity: .5;
}
.content{
  /* background: black */
}
#top-buttons{
  height:45px;

  margin-bottom: 20px;
}
.container{
  height:509px;
  padding-left:75px;
}
#scheduled{
background: #33CC99;
border: 1px solid #1DBA86;
box-sizing: border-box;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.126104);
border-radius: 3px;
text-align: center;
  padding-top: 10px;
  color:white;
}
.buttons {
  border: 1px solid #E0E0E0;
  border-radius: 3px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.04);
  color: #4B5F7A;
  letter-spacing: 1px;
  text-align: center;
  vertical-align: middle;
}
.col-md-2{
  border-top: 1px solid #E0E0E0;
  border-right: 1px solid #e0e0e0;
  text-align: center;
}
.col-md-4{
  border-top: 1px solid #E0E0E0;
  border-radius: 3px;
  border-right:1px solid #E0E0E0;
}
#main{
  height:29%;
  background-color: #FFFFFF;

  /* box-shadow: 0 3px 5px 0 rgba(0,0,0,0.05); */
}
#main-bottom{
  height:29%;
  background-color: #FFFFFF;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.05);
}
.hosp{
  /* border-radius: 3px 0 0 0; */
	background-color: #4B5F7A;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.05);
  /* border-bottom: #cdcdcd medium solid; */
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.05);
}
.dimg{
  width:50%;
  border-radius: 50%;
  padding-top:10px;
  padding-bottom:10px;
}
.doc-prof{
  padding-top: 17px;
  text-align: center;
}
.dhead{
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1.18px;
  color: #33CC99;

}
.dName{
  color: #4B5F7A;
  width: 76px;
  height: 16px;
  font-size: 13px;
  /* line-height: 16px; */
  text-align: center;

}
.datetime{
  color: #33CC99;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1.18px;
}
.current{
  text-align: center;
  font-size: 14px;
  color: #4B5F7A;
}
.dt{
  padding-top:25px;
}
.noteHead{
  padding:25px;
  color: #33CC99;
  font-size: 12px;
  letter-spacing: 1.18px;
}
.note-content{
  color: #4B5F7A;
  font-size: 14px;
}
.info{
  border: 1px solid #D5DEED;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  border-radius: 3px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.07);
  font-size: 12px;
  letter-spacing: 1.85px;
  color: #4B5F7A;
}

@media (min-width: 576px) {
  .jumbotron {
    margin: 10%;
    box-shadow: 3px 3px 5px 6px #ccc;
  }
}
