 header div {
  display: inline-block;
} 
 header div.left {
  width: 400px%;
  float: left;
}

header div.center {
  margin: 0 2%;
}
header div.right {
  width: 250px;
  float: right;
}
header div.right a {
  float: right;
}
header div.center a.active,
header div.right a.active {
  border-bottom: 5px solid #33cc99;
}
.navbar{
  box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075)
}

.header-icon {
  width: 40px;
  height: 40px;
  background-image: url(/images/medical-glyph-icons-preview.png);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0 0;
  display: inline-block;
}
.header-icon.pill {
  background-position: 0 0;
}
.header-icon.steth {
  background-position: -40px 0;
}
.header-icon.pills {
  background-position: -80px 0;
}
.header-icon.pill-flat {
  background-position: -120px 0;
}
.header-icon.pills2 {
  background-position: -160px 0;
}
.header-icon.heart {
  background-position: -200px 0;
}

.support-3 {
	height: 32px;
	width: 32px;
	opacity: 0.4;
	/* background-color: #4B5F7A; */
}
.navbar .navbar-nav {
  /* display: inline-block; */
  float: none;
  vertical-align: top;
  margin:auto;
}


