#footer {
  height: 120px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  background: #888;
}
#footer #title {
  font-weight: 600;
  font-size: 1.2em;
  color: #333;
}
#footer #logs {
  overflow: scroll;
  height: 85px;
  position: absolute;
  bottom: 0px;
  width: 100%;
}
